.notifications.pull-right
  .alert.pull-right
    a.close(href='#', data-dismiss='alert') ×
    i.icon-info-sign
    | Check out Light Blue
    a#notification-link(href='#') settings
    | on the right!
